body {
  font-family: sans-serif;
  max-width: 460px;
  margin: 0 auto;
  margin-top: 60px;
}
.TodoPage-title {
  font-size: 20px;
  line-height: 1.6;
  color: #453c52;
  font-weight: 600;
  margin-bottom: 12px;
}
.TodoSectionTitle {
  display: flex;
  font-size: 34px;
  line-height: 1.4;
  color: #453c52;
  align-items: center;
  margin-bottom: 8px;
}
.TodoSectionTitle-text {
  font-size: 14px;
  margin-right: 8px;
  line-height: 1.4;
  font-weight: 600;
}
.TodoSectionTitle-remainingCount {
  font-size: 12px;
}
.TodoItem {
  font-size: 14px;
  line-height: 1.2;
  margin-left: 8px;
  margin-bottom: 6px;
  color: #453c52;
}
.TodoItem-container {
  display: inline-flex;
  padding: 2px 8px;
  align-items: center;
}
.TodoItem-container:hover {
  background-color: #f1edf7;
  border-radius: 4px;
}
.TodoItem-checkbox {
  width: 16px;
  height: 16px;
}
.TodoItem-overdueLabel {
  color: #c53030;
  font-size: 12px;
  margin-left: 10px;
  display: inline;
}
.TodoItem-date {
  color: #726a7e;
  font-size: 12px;
  margin-left: 10px;
  display: inline;
}
.TodoItem-delete {
  width: 16px;
  margin-left: 10px;
  display: inline;
  visibility: hidden;
}
.TodoItem-container:hover .TodoItem-delete {
  visibility: visible;
}
.TodoSection {
  margin-bottom: 20px;
}
.AddTodo {
  display: flex;
  height: 32px;
  align-items: stretch;
  margin-bottom: 24px;
}
.AddTodo-text {
  padding: 6px 12px;
  font-size: 14px;
  color: #453c52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
}
.AddTodo-date {
  padding: 6px;
  font-size: 14px;
  color: #453c52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
}
.AddTodo-button {
  font-size: 14px;
  color: #ffffff;
  background-color: #48bb78;
  border-radius: 4px;
  padding: 7px 22px;
  border: 1px solid transparent;
}
