.Home-title {
  margin-bottom: 20px;
  font-size: 30px;
}

.Home-subHeading {
  margin-bottom: 20px;
  font-size: 16px;
}

.UserHeader {
  padding: 10px;
  background-color: #d3d3d3;
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.Flash-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 5px;
}
